
#programa{
  color: #000;
  background-color: #288705;
}

.menu-cronograma{
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}

.menu-item-hijo{display: inline-block;}

/* Estilo para el menú-hijo */
.menu-hijo {
  background-color: #f0f0f0;
  padding: 10px; 
  border-radius: 5px; 
}

/* Estilo para las opciones del menú-hijo */
.menu-item-hijo .nav-link {
  color: #333; 
  transition: background-color 0.3s;
}

/* Estilo para las opciones del menú-hijo cuando están activas (clic) */
.menu-item-hijo .nav-link.active {
  background-color: #288705; 
  color: #fff; 
}

.program-dates .nav-tabs .nav-link {
  padding: 10px 50px;
}

.program-dates .nav-tabs .nav-link.active {
  background-color: #000;
}

.container-branding{
  text-align: left;
  margin: 10px 50px;
}

.branding-padre{
  margin: 0px 150px;
}

.text-topic{
  font-family:'Roboto';
  font-size: 13pt;
  line-height: 1.8;
}

.date-limit {
  border: 2px solid #ffffff; 
  border-radius: 10px; 
}

@media (max-width: 767px) {
  .program-date-item {
    display: inherit;
  }
  .program-wrapper h1{
    font-size: 45px;
  }

  .program-dates{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .text-light{ padding: 0px;}

  .branding-padre{margin: 0px 10px;}

  .container-branding{margin: 10px 5px;}



}
