
#programa{
  color: #000;
  background-color: #288705;
}
.program-wrapper h1 {
  font-size: 3em;
}

.program-wrapper-speakers button {
  background-color: transparent;
  border: none;
}

.program-wrapper-speakers img {
  cursor: pointer;
  transition: all .5s ease-out;
}
.menu-cronograma{
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
}
.program-date-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  padding: 30px 0;
  gap: 50px;
  border-bottom: solid 2px #ffffff;
}

.program-dates a>strong {
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.7px;
}

.program-dates a>span {
  margin-top: 0.5rem;
  color: rgb(202, 205, 207);
  font-size: 0.75rem;
  font-weight: 400;
}

.program-dates h4 {
  color: white;
  font-size: 30px;
}
.title-speaker{color: #fff;}
.program-date-avatar {
  transition: .3s ease-in-out;
  object-fit: cover;
  object-position: top;
}

.img-logo{width: 200px;}

.program-date-avatar:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #000, 0 0 0 2px #54c8fa, 0 0 22px 0 #54c8fa;
}

.custom-table{
  background-color: transparent;
}


.program-dates li {
  padding: 0;
}

.program-dates .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.program-dates .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.program-dates .accordion-item {
  background-color: transparent;
  border: none;
}

.program-dates .accordion-button {
  display: inline;
  padding: 0;
}

.program-dates button {
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 10px 35px;
  text-align: left;
}


.program-dates .nav-tabs .nav-link {
  /* background-color: rgb(255, 255, 255); */
  backdrop-filter: blur(3px);
}

.program-dates .nav-tabs .nav-link.active {
  background-image: linear-gradient(144deg, #09c4f8, #5B42F3 50%, #aa0aee);
}

.program-dates .accordion-body {
  padding: 0;
  color: white;
}

.speaker-item {
  position: relative;
  margin: 0 0 1.5em;
  overflow: hidden;
}

.speaker-item img {
  filter: grayscale(100%);
  cursor: pointer;
  transition: all .3s ease-out;
  object-fit: cover;
  transition: all .3s ease-in;
}

.speaker-item:hover img {
  filter: grayscale(0%);
  box-shadow: -10px -8px 3px #e8001e;
  transform: scale(1.1);
  object-position: top;
}

.info_speakers {
  position: absolute;
  width: 100%;
  padding: 5px 10px;
  bottom: 0;
  color: white;
  background: linear-gradient(to top, black, transparent);
}

.sub-title{ font-size: 18px;}
/* .text-light{ padding: 5px 20px;} */

/* ScheduleTable.css */
.custom-table-container {
  overflow-x: auto; /* Permite el desplazamiento horizontal en dispositivos móviles */
  color: #ffffff;
}

.custom-table {
  width: 100%; /* Opcional: haz que la tabla ocupe todo el ancho disponible */
  border-collapse: collapse;
  background-color: transparent; /* Cambia el color de fondo de la tabla */
  border: 1px solid #ffffff; /* Añade un borde alrededor de la tabla */
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #CCCCCC; /* Añade bordes a las celdas */
}

.custom-table th {
  /* background-color: #010101; Cambia el color de fondo de las celdas de encabezado 
  color: white;Cambia el color del texto en las celdas de encabezado  */
  font-size: 18px;
} 











@media (max-width: 767px) {
  .program-date-item {
    display: inherit;
  }
  .program-wrapper h1{
    font-size: 45px;
  }

  .program-dates{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .text-light{ padding: 0px;}
}
