.background-image {
    background-image: url('/ecomondo_back.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    font-family: 'N27-Regular';
    color: #fff;
    text-shadow: 4px 4px 5px rgb(0, 0, 0) ;
}

.date-title{font-size: 50px;}

.container-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-item{
  height: 60px;
  width: 250px;
  padding: auto 10px;
  border-radius: 20px;
  border: 1px solid green;
  color: rgb(40, 135, 5);
  font-family: 'N27-Regular';
  font-weight: 800;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.255) ;

}

.card-padre{
  border-radius: 10px;
  border:  1px solid green;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.255) ;
  transition: all 0.5s ease;
}


.btn-item:hover, .card-padre:hover {
  background-color: rgb(40, 135, 5) ;
  border-color: rgb(40, 135, 5);
  color: #fff; 
}







@media only screen and (max-width: 768px) {
    .date-title{font-size: 40px;}

    .container-items{
      display: flex;
      flex-direction: column;
    }

  }

  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-items{
      display: flex;
      flex-direction: column;
    }

  }
  