.background-image {
    background-image: url('/ecomondo_back.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    font-family: 'N27-Regular';
    color: #fff;
    text-shadow: 4px 4px 5px rgb(0, 0, 0) ;
}

.date-title{font-size: 50px;}

.container-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn-item{
  height: 60px;
  width: 250px;
  padding: auto 10px;
  border-radius: 20px;
  border: 1px solid green;
  color: rgb(40, 135, 5);
  font-family: 'N27-Regular';
  font-weight: 800;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

}

.btn-item:hover {
  background-color: rgb(40, 135, 5) ; /* Cambia el color de fondo al verde */
  border-color: rgb(40, 135, 5); /* Cambia el color del borde al verde */
  color: #fff; /* Cambia el color del texto a blanco */
}


@media only screen and (max-width: 768px) {
    .date-title{font-size: 40px;}
  }

  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tabletas */
  }
  