/* .grid-logos {
    display: grid;
    gap: 16px; 
    grid-template-columns: repeat(2, 1fr); 
  } */
  
  @media (max-width: 640px) {
    
    .grid-logos .size-img {
      height: 80px; /* Control de altura máxima */
      }
  
  }
  
  @media (min-width: 768px) {
    .grid-logos .size-img {
      height: 90px; /* Control de altura máxima */
      }
  }
 
  
  .grid-logos img {
    height: 100px; /* Control de altura máxima */
    width: auto; /* Mantiene la proporción del logo */
    display: block;
    margin: auto;
  }
  
  .grid-logos div {
    padding: 16px; /* Espaciado interno */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .container-logos{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */ 
  }
  

  .container-logos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
          /* Ocupe toda la altura de la pantalla */
  }

  .grid-logos {
    display: grid;
    gap: 0px; /* Espacio entre los elementos */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Cuadrícula flexible */
    width: 100%;
    max-width: 1100px; /* Controla el ancho máximo */
  }

  
