
.container-form {
    margin: 0 auto;
    text-align: left;
  }

.div-con-fondo {
    background-image: url('/galleryECO2023-26.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 70px;
  }
  .foreign-contact{
    text-align: start;
  }
  .foreign-contact a{
    color: black;  
    font-weight: 700;
  }
  .foreign-contact a:hover{
    color: #288705;      
  }
  .background-contact{
    background-image: linear-gradient(to right top, #037314, #078621, #09992f, #07ae3d, #00c24b);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
  }

  /* Estilos para dispositivos móviles con un ancho máximo de 767px */
  @media only screen and (max-width: 767px) {
    .container-form{
      width: auto;
      padding: 60px 20px;
    }
    
  }

  /* Estilos para tabletas con un ancho mínimo de 768px y un máximo de 1023px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container-form{
    width: 400px;
    padding: 60px 20px;
  }
}

  /* Estilos para dispositivos de escritorio con un ancho mínimo de 1024px */
@media only screen and (min-width: 1024px) {
  .container-form{
    width: 800px;
    padding: 60px 20px;
  }

}
