
.container-form {
    margin: 0 auto;
    text-align: left;
  }

.div-con-fondo {
    background-image: url('/galleryECO2023-26.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 70px;
  }
  .foreign-contact{
    text-align: start;
  }
  .foreign-contact a{
    color: black;  
    font-weight: 700;
  }
  .foreign-contact a:hover{
    color: #288705;      
  }
