.container-footer-padre{
    text-align: left;
}

.footer-socialmedia svg {
    fill: #288705;
    width: 30px;
    margin: 10px;
}

.footer-socialmedia svg:hover {
    fill: #2d2d2d;
}

.footer-socialmedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px auto;
}

footer a {
    text-decoration: none;
    color: #393939;
    font-weight: 700;
}

footer a:hover {
    color: #288705;
}

.footer-language{
    padding: 10px 0;
    border-top: 1px solid #727272;
    border-bottom: 1px solid #727272;
}
.language-option-footer a{
    color: black !important;
}
.language-option-footer svg{
    fill: black;
}

.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}