.exhibitor-back {
    background-image: url('/exhibitor_background_dos.jpg') ; 
    max-width: 100%;
    height: auto; 
    color: #ece4e4;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: center bottom;
}

.content-visitor {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.608); 
    backdrop-filter: blur(1px);
    height: auto;
    margin: 12 auto;
    align-items: center;
    justify-content: center;
  }

  .lista-visitor{
    list-style: none;
    padding: 0; 
    margin: 0; 
    text-align: start;
  }

  .item-res{
    color: #ffffff;
    border-radius: 600px 12 12 40px;
    padding: 15px 30px !important;
    display: flex;
    align-items: center;
}

.item-icon-visitor{
    width: 90px;
    height: 40px;
}

.item-text-visitor{
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 0px 20px;
    width: 300px;
}